
<div class="loginContainer">
        <div class="logoClass">
                <a href="/" class="logoName">MyBookStore</a>
                <p class="slogen"><span>D</span>iscover <span>B</span>ooks <span>Y</span>ou <span>L</span> ove</p>
        </div>
        <div class="formClass">
                <form  class="search" action="/book/search" method="GET">
                        <input class="userSearch" type="text" name = "search" placeholder="Search">
                        <input class="signIns" type="submit" value="Search" >
                </form>
        </div>
</div>



