
<h1> this is the index page</h1>
<form action="/book/search" method="GET">
    <div id="containre">
       <input type="text" name = "search" placeholder="Search">
       <input type="submit" value="Search">
    
        </div>

</form>
</div>