<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
        <ul>
            <li>
                <a href="/"><img src="/Users/dagmzerfu/code/w6/project_2/MyBookStore/icons/home.webp" ></a>
            </li>
            <% if(user){ %>
            <li>
                    <a href="/user/profile" id="profile">profile</a>
                </li>
                <li>
                    <a href="/user/signOut">SIGN OUT</a>
                </li>
                <li>
                    <a href="/user/:id/wishListBook">Wish List</a>
                </li>
                
                    <% } else { %>
                        <li>
                        <a href="/user/login">SIGN IN</a>
                    </li>
                    <li>
                        <a href="/user/new">SIGN UP</a>
                    </li>
                        <%  }   %> 




        </ul>

    
    <div >
        <%- body  %> 
    </div>
</body>
</html>