<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <header>
        <div class="logoDiv">
            <a class="shado" href="/" class="logo"><img src="/icons/icon-book.png" alt="" width="100px" height="100px"></a>
            <p class="headerh2">MyBookStore</p>
        </div>

        <nav class="nav_links">
            <ul>
                <% if(user){ %>
                    <li>
                        <a href="/user/about">About</a>
                    </li>
                    <li>
                        <a href="/user/signOut">Sign Out</a>
                    </li>
                    <li>
                        <a href="/user/:id/wishListBook">Saved Books</a>
                    </li>
                    <li >        
                        <a href="/user/profile" ><img src="/icons/profile.ico" alt="" width="30px" height="30px"></a>
                        <p><%=user.name%></p>
                        </div>
                    </li>
                    <% } else { %>
                        <li>
                            <a href="/user/about">About</a>
                        </li>
                        <li>
                            <a href="/user/login">Sign In</a>
                        </li>
                        <li>
                            <a href="/user/new">Sign Up</a>
                        </li>
                        <%  }   %> 
                    </ul>
                </nav>
            </header>
    <div >
        <%- body  %> 
    </div>
</body>
</html>