<div class="about">
    <div class="h1">
        <h1 class="abouth1">About Our Company</h1>

    </div>
    <div class="h4">

        <h4>MyBookStore was founded by Dagm Zerfu in 2021. <br> For this website Zerfu used Google Book Store API as a source. <br>
            What makes this website special is its simplicity allowing users to discover books they love. </h4>
    </div>
    </div>