
<div class="loginContainer">
    <h1>SIGN IN PAGE</h1>
    <form action="/user/login" method="POST">
        <div id="email">
            <input class="user" type="text" name="email" placeholder="email">
        </div>
        <div id="password">
            <input class="user" type="password" name="password" placeholder="password">
        </div>
        <div>
            <input class="signIn" type="submit" value="SIGN IN">
        </div>
        <div id="link">
            <a href="/user/new" >click here to Sign Up</a>
        </div>
    </form>  
</div>
