<h1>sign up page</h1>

<form method="POST" action="/user">
    <div id="newuser">
        <div class="userinputs">
            <input type="text" name="name" placeholder="name">

        </div>
        <div class="userinputs">
            <input type="text" name="email" placeholder="email">

        </div>
        <div class="userinputs">
            <input type="password" name="password" placeholder="password">

        </div>
        <div class="userinputs">
            <input type="submit" value="SIGN UP">

        </div>
    </div>
</form>