
<div id="loginContainer">
    <h1>sign up page</h1>
    <form method="POST" action="/user">
        <div class="userinputs">
            <input class="user" type="text" name="name" placeholder="name">
        </div>
        <div class="userinputs">
            <input class="user" type="text" name="email" placeholder="email">
        </div>
        <div class="userinputs">
            <input class="user" type="password" name="password" placeholder="password">
        </div>
        <div class="userinputs">
            <input class="signIn" type="submit" value="SIGN UP">
        </div>
        <div id="link">
            <a href="/user/login" >click here to Sign In</a>
        </div>
    </form>
</div>