<h1>wishListBook</h1>
<div class="container">
    <div class="grid">
        <% book.forEach(book => { %>
            <div class="cell">
                <div>
                    <img src="<%= book.img_url  %> " alt="">
                    <h1><%=book.title  %>  </h1>
                </div>
                <div>
                    <form action="/book/<%=book.id%>?_method=DELETE" method="POST">
                    <input class="button" type="submit" value="remove">
                    </form>
                </div>
            </div>
        <% }) %> 
    </div>
</div>