body{
    margin: 40px;
    text-align: center;
}

ul{
    display: block;
    text-decoration: none;
    font-size: larger;
}
.container{
    margin: 0 auto;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    background-color: #fff;
    grid-gap: 10px;
    color: #444;
    padding: 10px;
}
.addButton{
    width: 50px;
    margin-bottom: 0;
}
.cell{
    height: auto;
    width: auto;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 10%;
    text-align: center;

}
.hidden{
    display: none;
}

